*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(imagem/fundoCapa.png);
    background-size: cover;
    
}

h1, h2, h3{
    text-align: center; 
    color: #a09038;
    font-size: 40px;
    color: #F1E99A;
}

h1{
    font-family: 'Jolly Lodger', cursive;
    font-size: 80px;
}

main{
    display: flex;
    justify-content: space-around;
}

.imagem{
    height: 190px;
    width: 200px;
    margin-top: 50px;
}

.nomePersonagem, a{
    color: #F1E99A;
    font-size: 30px;
    margin-left: 22px;
    background-color: green;
    width: 0px;
    text-decoration: none;
}

#imgBiologo{
    height: 180px;
    margin-bottom: 11px;
}

footer{
    margin-top: 160px;
    color: #F1E99A;
    text-align: center;
    font-size: bold;
    background-color: green;
}

a:hover{
    color: #1f1c07;
    background-color: rgb(27, 248, 7);
    font-weight: bold;
    transition: 1s;

}

@media(max-width:915px){
    header{
        max-width: 100%;
       }
       h1{
        margin: 20px 0;
        font-size: 50px;
        text-align: center;
       }
       h2,h3{
        margin: 5px 0;
        font-size: 28px;
        text-align: center;
       }
       body{
        height: 1150px;
      }
       main{
        margin: 100px 0 0 100px;
         justify-content: space-evenly;
         max-width: 90%;
       }
       section{
         width: 90%;
       }
       .imagem{
        width: 200px;
       }
       .nomePersonagem, a{
        font-size: 25px;
        
       }
    
       footer{
        margin: 618px 0;
       }
    
       a:hover{
        color: #1f1c07;
        background-color: rgb(27, 248, 7);
        font-weight: bold;
        transition: 1s;
    
    }
}

@media(max-width:600px){
   header{
    max-width: 100%;
   }
   h1{
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
   }
   h2,h3{
    margin: 5px 0;
    font-size: 15px;
    text-align: center;
   }
   body{
    height: 750px;
   }
   main{
    margin: 100px 0 0 50px;
     justify-content: space-evenly;
     max-width: 65%;
   }
   section{
     width: 60%;
   }
   .imagem{
    width: 130px;
   }
   .nomePersonagem, a{
    font-size: 15px;
    
   }

   footer{
    margin: 280px 0;
    
   }

   a:hover{
    color: #1f1c07;
    background-color: rgb(27, 248, 7);
    font-weight: bold;
    transition: 1s;

}
   
}

@media(max-width:500px){
    header{
        max-width: 100%;
    }
    h1{
     margin: 5px 0;
     font-size: 25px;
     text-align: center;
    }
    h2,h3{
     margin: 5px 0;
     font-size: 10px;
     text-align: center;
    }
    body{
        height: 880px;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
        
    }
    
    main{
     margin: 25px 0 0 25px;
     justify-content: space-evenly;
     max-width: 65%;
    }
    section{
      width: 30%;
      margin: 60px 25px 0px 25px
      
    }
    .imagem{
     width: 120 px;
    }
    .nomePersonagem, a{
     font-size: 10px;
     margin-top: 45px;
    }
 
    footer, p{
       margin: 212px 0;
    }

    a:hover{
        color: #1f1c07;
        background-color: rgb(27, 248, 7);
        font-weight: bold;
        transition: 1s;
    
    }
    
 }

@media(max-width:380px){
    header{
        max-width: 100%;
    }
    h1{
     margin: 5px 0;
     font-size: 25px;
     text-align: center;
    }
    h2,h3{
     margin: 5px 0;
     font-size: 10px;
     text-align: center;
    }
    body{
        height: 730px;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
        
    }
    
    main{
     margin: 25px 0 0 25px;
     justify-content: space-evenly;
     max-width: 65%;
    }
    section{
      width: 30%;
      margin: 60px 25px 0px 25px
      
    }
    .imagem{
     width: 120 px;
     margin-top: 10px;
    }
    .nomePersonagem, a{
     font-size: 10px;
     margin-top: 45px;
    }
 
    footer, p{
       /* margin-top: 280px; */
       margin: 154px 0;
    }

    a:hover{
        color: #1f1c07;
        background-color: rgb(27, 248, 7);
        font-weight: bold;
        transition: 1s;
    
    }
    
 }



    
