*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Tragicastle';
    src: url('Tragicastle.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /* Extraída do site DaFont */
}

@font-face {
    font-family: 'TOMORROW';
    src: url('TOMORROW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    /*(https://img.freepik.com/fotos-premium/um-leopardo-na-natureza-capturado-a-noite_781958-502.jpg?w=826);*/
    background-image: url(fundoFase1.png);
    background-size: cover;
    color: #f5edab;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecario{
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}
#boasVindas{
    text-align: center;
    font-family: Tragicastle;
    font-size: 40px;
    padding: 5px;
}
.principal{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}
#pjogar{
    margin: 30px  10px;
    width: 300px;
    min-width: 200px;
}
#h3jogando{
    font-family: TOMORROW;
    font-size: 30px;
    
}
img{
    height: 250px;
    margin-top: 50px;
}
#imgBiologo{
    height: 230px;
}
.principal{
    margin-top: 30px;
}
.secundaria{
    text-align: center;
    align-items: center;
    border-style: double;
    margin: 10px 0;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 1px #ececad49;
}
.secundariaBiologo{
    text-align: center;
    align-items: center;
    border-style: double;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 1px #ececad49;
}
.botao .botaoVoltar{
    height: 50px;
    width: 140px;
    background: linear-gradient(to right, #9e6a1d,  #1d1501  );
    color: #f5edab;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px #f7f7a149;
    border: none;
}

.botao input{
    height: 50px;
    width: 140px;
    background: linear-gradient(to right, #9e6a1d,  #1d1501  );
    color: #f5edab;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px #f7f7a149;
    border: none;
}
input{
    margin: 0 5px;
    cursor: pointer;
}

.botaoVoltar a{
    text-decoration: none;
    color: #f5edab;
    
}

footer{
    background-color: #c2bc877c;
    color: rgb(243, 235, 235);
    font-weight: bold;
    text-align: center;
    margin-top: 137px;
}

input:hover{
    color: #1f1c07;
    font-weight: bold;
    transition: 1s;
    background: linear-gradient(to right, #614d2e, #c7841f)  ;
}


